*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navtop{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.navbar ul{
    display: flex;
}

.navbar .leftList{
    margin-left: 108px;
}

.navbar .rightList{
    margin-right: 108px;
}

.navtop li{
    list-style-type:none;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.small{
    font-size: 12px;
}

.medium{
    font-size: 14px;
}

.large{
    font-size: 16px;
}

.whiteTheme{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius:50%;
}

.darkTheme{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius:50%;
    background-color: black;
}

.search{
    width: 15px;
    height: 15px;
    background: transparent url('../Images/Path\ 1470.png') 0% 0% no-repeat padding-box;
}

.angledown{
    width: 15px;
    height: 15px;
    background: transparent url('../Images/angledown.png');
    background-size: 15px;
}

.navdown{
    top: 30px;
    left: 0px;
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 10px 41px #00000029;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navdown  li{
    list-style-type:none;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 17px;
}

.navdown  .leftList{
    margin-left: 90px;
}

.navdown .rightList{
    display: flex;
}

.navdown-img1{
    width: 145px;
    height: 59px;
    background: transparent url('../Images/Group 4016.png') ;
}

.navdown-img2{
    width: 107px;
    height: 60px;
    background: transparent url('../Images/1200px-REC_logo.svg.png') ;
}

.navdown-img3{
    width: 55px;
    height: 63px;
    background: transparent url('../Images/PFC Logo.png') 0% 0% no-repeat padding-box;
}

.navdown-home{
    width: 20px;
    height: 20px;
    background: transparent url('../Images/home.png') ;
}

.registerLogin{
    width: 148px;
    height: 35px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 1px solid var(--unnamed-color-f58216);
    background: #FFFFFF ;
    border: 1px solid #F58216;
    border-radius: 5px;
    letter-spacing: NaNpx;
    color: #F58216;
}

.footertop{
    width: 100%;
    height: 110px;
    background: var(--unnamed-color-ffffff) ;
    background: #FFFFFF ;
    box-shadow: 0px -10px 20px #E5E5E591;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerdown{
    width: 100%;
    height: 85px;
    background: var(--unnamed-color-1b2f68);
    background: #1B2F68;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content{
    font: var(--unnamed-font-style-normal) normal 300 13px/12px var(--unnamed-font-family-poppins);
    text-align: left;
    font: normal normal 300 13px/12px Poppins;
    letter-spacing: 0.07px;
    color: #FFFFFF;
}

.footer .leftList{
    position:relative;
    left: 108px;
}

.leftList-top p{
    line-height: 2;
}

.rightList-top p{
    line-height: 2;
}

.footer .centerList{
    display: flex;
    align-items: center;
}
.footer .centerList *{
    margin: 0 6px;
}

.footer .rightList{
    position:relative;
    right: 108px;
}

.visitor{
    text-align: right;
}

.facebook{
    width: 11px;
    height: 17px;
    background: transparent url('../Images//Icon awesome-facebook-f.png') 0% 0% no-repeat padding-box;
    border-right: 1px solid #ffffff;
    padding: 0 5px;
}

.twitter{
    width: 21px;
    height: 17px;
    background: transparent url('../Images/Icon awesome-twitter.png') 0% 0% no-repeat padding-box;
    border-right: 1px solid #ffffff;
    padding: 0 5px;
}

.yt{
    width: 21px;
    height: 17px;
    background: transparent url('../Images/Path 53.png') 0% 0% no-repeat padding-box;
    border-right: 1px solid #ffffff;
    padding: 0 5px;
}

.insta{
    width: 71px;
    height: 21px;
    background: transparent url('../Images/instagram.svg') 0% 0% no-repeat padding-box;
}

.footer .indiaGovIN{
    width: 191px;
    height: 46px;
    background: transparent url('../Images/Image 26.png') 0% 0% no-repeat padding-box;
}

.footer .myGov{
    width: 83px;
    height: 75px;
    background: transparent url('../Images/mygov.png') 0% 0% no-repeat padding-box;
}

.footer .azadi{
    width: 105px;
    height: 57px;
    background: transparent url('../Images/Azadi_Ka_Amrit_Mahotsav_(English)_logo.svg.png') 0% 0% no-repeat padding-box;
}

.footer .G20{
    width: 104px;
    height: 57px;
    background: transparent url('../Images/g20-logo-200-x-150.png') 0% 0% no-repeat padding-box;
}

.footer .PMIndia{
    width: 124px;
    height: 52px;
    background: transparent url('../Images/pmindia-logo (2).png') 0% 0% no-repeat padding-box;
}

.footer .power{
    width: 149px;
    height: 74px;
    background: transparent url('../Images/5-4.png') 0% 0% no-repeat padding-box;
}

.footer .mII{
    width: 122px;
    height: 57px;
    background: transparent url('../Images/makeinindia.png') 0% 0% no-repeat padding-box; 
}

.footertop *{
    margin: 0 54px;
}